<!DOCTYPE HTML>
<html>
	<head>
		<title>CodeFit</title>

		<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="/bower_components/bootstrap-social/bootstrap-social.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/3.5.0/octicons.min.css">
		<!--<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">-->
		<link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
		<link rel='stylesheet' href='/stylesheets/dashboard.css'>
	</head>

	<body>
		
		<div id="titles">
			<div class="title">
				Current Goals
			</div>
			<div class="title">
				Languages
			</div>
		</div>

		<div id="lists">
			<div class="list"> 
				<div class="small-achievement">
					<div class="img">
						hello
					</div>
					<div class="body-achievement">
						<div class="title-achievement">
							This is the title
						</div>
						<div class="desc-achievement">
							This is going to be longer than the title hopefully
						</div>
					</div>
				</div>
			</div>
			<div class="list">
			</div>
		</div>


			<!--<div class="hah">-->
				<!--<h1>Goals</h1>-->
			<!--</div>-->
			<!--<div class="hah">-->
				<!--<div><h1>Languages</h1>9ko0l9u,yhji0o-;p.,hjuyio0pu9ko0l9u,yhji0o-;p.,hjuyio0pu9ko0l9u,yhji0o-;p.,hjuyio0pu9ko0l9u,yhji0o-;p.,hjuyio0pu9ko0l9u,yhji0o-;p.,hjuyio0pu9ko0l9u,yhji0o-;p.,hjuyio0pu9ko0l9u,yhji0o-;p.,hjuyio0pu9ko0l9u,yhji0o-;p.,hjuyio0pu/div>-->
			<!--</div>-->
	</body>
</html>
